* {
	box-sizing: border-box;
}

/* .justify-content-center {
  justify-content: center !important;
} */
.text-warning {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

.d-flex {
	display: flex !important;
}

body {
	font-size: 14px;
	font-family: 'Inter', sans-serif;
}

.review-container {
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
}

.review-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.review-title {
	display: flex;
	align-items: baseline;
}

.title-text {
	font-size: 22px;
	font-weight: 600;
	margin-right: 5px;
}

.title-count {
	font-size: 20px;
	font-weight: 600;
	margin-right: 10px;
}

.review-stars {
	font-size: 20px;
	color: rgba(255, 72, 0, 1);
}

.review-images-container {
	position: relative;
	display: flex;
	align-items: center;
}

.review-images-wrapper {
	overflow: hidden;
	width: 90%;
}

.review-images {
	display: flex;
	scroll-behavior: smooth;
	padding-bottom: 10px;
	margin-bottom: 20px;
	transition: transform 0.5s ease;
}

.image-item {
	width: 120px;
	height: 120px;
	background: rgba(216, 216, 216, 1);
	margin-right: 10px;
}

.left-arrow, .right-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	user-select: none;
}

.left-arrow {
	left: 0;
}

.right-arrow {
	right: 0;
}

.review-content {
	margin-top: 20px;
}

.review-item {
	background: rgba(255, 255, 255, 1);
	margin-bottom: 20px;
	padding: 10px;
	border-bottom: 1px solid rgba(228, 228, 228, 1);
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.review-details {
	flex-grow: 1;
}

.review-user {
	font-size: 12px;
	font-weight: lighter;
}

.review-date {
	font-size: 12px;
	font-weight: lighter;
	float: right;
}

.review-option, .review-body, .review-size {
	display: block;
	font-size: 12px;
	color: rgba(160, 160, 160, 1);
	margin-top: 5px;
}

.review-text {
	margin-top: 10px;
	font-size: 14px;
	color: rgba(0, 0, 0, 1);
}

.review-thumb {
	width: 60px;
	height: 60px;
	margin-left: 10px;
	align-self: flex-start;
}

.pagination {
	width: auto;
	height: 40px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-number {
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin: 0 5px;
}

.page-number:hover {
	color: rgba(255, 72, 0, 1);
}

.left, .right {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
	text-align: center;
}

.left {
	background: url("./images/left.png");
}

.right {
	background: url("./images/right.png");
}